@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.App {
  text-align: center;
}

.footerBox {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0%;
  height: 5%;
  /* p {
    margin-left: 50px;
  } */
}

/* .navWrap {
  position: fixed;
} */

.navBar {
  /* position: fixed; */
  list-style: none;
  display: flex;
  justify-content: center; /*Centers all links except the last one*/
  align-items: center;
  margin-top: 0;
  padding: 2vh 1vw;
  background-color: 'red';
  height: 100%;
}

.navBarOption{
  height: 100%;
}
.navBarOptionText:hover {
  opacity: 0.4;
  text-decoration: underline;
}

.loginButton {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: x-large;
}
.welcomeMessage {
  display: flex;
  justify-content: center;
}
.welcomeLogo {
  font-family: 'Kaushan Script', cursive;
}

.navBar li:last-child {
  margin-left: auto; 
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  
  margin-right: 20px;
}


nav a {
  text-decoration: none;
  color: #fff;}

button {
    margin: 1vw;
    padding: 1vw;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
  background-color: #333;
  color: white;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.artistX {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}


.resultNames {
  list-style-type: none;
  cursor: pointer;
  width: 90%;
}

.resultNames:hover {
  background-color: blue;
  transform: scale(1.1);
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30vw;
  border-radius: 10px;
}

.searchResults {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Modal {
    display: flex;
    position: absolute;
    background-color: rgb(176, 45, 45);
    border: 8px ridge blue;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .RegisterBox{
    flex-direction: column;
   margin-left: 10px;
    background-color:rgba(126, 126, 126, 0.349);
    width:400px;
    height:400px;
    margin-top: 60px;
    border-radius: 20px;
  }
  .Home{
    display: flex;
    justify-content: center;
  
  }
  .LoginBox{
    box-sizing: border-box;
   
  
    background-color:rgba(126, 126, 126, 0.349);
    width:400px;
    height:400px;
    margin-top: 60px;
    border-radius: 20px;
  
     
  }

  input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 100px;
  }

  .Textbox{
    width:300px;
    height:25px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px;
    background-color: rgb(253, 135, 135);
  }
  .RegisterLabel,.LoginLabel{
    margin-top: 50px;
    width: 180px;
    font-weight: 600;
  
   
  }
    
  .Textbox:focus {
    background-color:antiquewhite;
   
  }

  .radioWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .playIcon{
    cursor: pointer;
  }

  .eachRadioWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vw;
    padding-top: 2vh;
    height: 35vh;
    background-color: #EA5455;
    border-radius: 5px;
    width: 350px
  }

  .radioImg {
    max-height: 10vh;
    width: auto;
  }

  .radioImgDiv{
    height: 10vh;
  }

  .radioInput{
    font-size: x-large;
    border: none;
    border-bottom: 2px solid grey;
    background-color: rgb(253, 135, 135);
    color: white;
    min-width: 25vw;
    border-radius: 5px;
  }

  

  .radioName {
    padding: 0 2vw;
  }
  
  .radioName:hover {
    text-decoration: underline;
  }

  .favArtists, .favAlbums {
    list-style-type: none;
    padding-right: 2%;
    text-align: left;
  }

 .long-box-one{
 grid-column: span 3;
  margin-bottom: 5px;
  margin-top: 5px;
 }



  .long-box {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    height: 300px; /* Adjust the height to make it taller */
    grid-column: span 3; /* Span all three columns */
    margin-top: 10px; /* Add margin to separate it from the top row */
  }

 
  .profileButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 4vh;
    min-width: 10vw;
    border-radius: 20px;
  }
  @media only screen and (max-width: 600px) and (min-width: 200px)  {
  .LoginBox{
    margin-left: 3px;
    width:330px;
  }
  .Home{
    display: flex;
    flex-direction:column;
  }
  .RegisterBox{
    margin-left: 3px;
    width:330px;
  }
 .hide{
   visibility: hidden;
  }
  .footerBox{

    margin-top: 360px !important;
  }
  
  .grid-container{
    margin-left: 110px !important;
    
   margin-right: 10px !important;
  }
.radioInput{
  width:180px;
}


 }

  @media only screen and (max-width: 1000px) and (min-width: 600px)  {
    .LoginBox{
      margin-left: 10px;
    }
    .Home{
      display: flex;
      flex-direction:row;
    }
    .RegisterBox{
      margin-left: 10px;
    }
    .hide{
      visibility: hidden;
     }
    }




    
 label{
  font-size: large;
 }

.eventWrap {
  overflow: auto;
  -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar Firefox */
}

.eventWrap::-webkit-scrollbar {
  display: none; /* Hide scrollbar Chrome */
}


.eventWrap:hover {
  background-color: white;
}

.favoriteList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 13%;

}

.eachEventWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 5.5vw;
  border-bottom: 1px dotted white;
}

.eventLink{
  text-decoration: none;
  color: white;
  padding: 0 1vw;
  font-size: larger;
  font-weight: 600;
}

.detailsList {
  min-width: 35%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
}

.userDetailsWrapAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.userDetailsWrap {
  display: flex;
  flex-direction: column;
  background-color: #000000a2;
  width: 25vw;
  margin: 2vw;
  padding: 1vw;
  border-radius: 20px;
}

.userDetailsWrap > p {
  margin: 0px;
  margin-bottom: 10px;
}

.userDetailsWrap > h4 {
  margin: 0px;
  margin-top: 10px;
}

.userDetailsWrap > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radioPlayer {
  height: 6.5vh;
  width: 25vw;
  top: 10%;
  position: sticky;
}
