.App {
  text-align: center;
}


.navBar {
  list-style: none;
  display: flex;
  justify-content: space-between; /* Centers all links except the last one */
  align-items: center;
  padding: 2vh 1vw;
}

.navBar li:last-child {
  margin-left: auto; /* Pushes the Login link to the right */
}

nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;}

  button {
    margin: 2vw;
    padding: 1vw;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
  
}

